{% extends "home/home.html" %}

{% block content %}

<section id="movielist">
    <div class="container">
        <div class="row wow fadeIn" data-wow-delay="0.6s">
            {% for v in movie %}
            <div class="col-md-3">
                <div class="movielist text-center">
                    <img  src="{{url_for('static',filename='uploads/'+v.logo)}}"
                         class="img-responsive center-block" alt="" >
                    <div class="text-left" style="margin-left:auto;margin-right:auto;width:210px;">
                        <span style="color:#999;font-style: italic;">{{v.title}}</span><br>
                        <div>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
                        </div>
                    </div>
                    <a href="{{ url_for('home.play',id=v.id)}}" class="btn btn-primary" target="_blank"
                       role="button"><span class="glyphicon glyphicon-play"></span>&nbsp;播放</a>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>

{% endblock %}
