{% extends "home/home.html" %}

{% block content %}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-log-in"></span>&nbsp;会员登录</h3>
            </div>
            <div class="panel-body">
                <form role="form" method="post">
                    <fieldset>
                        {% for msg in get_flashed_messages(category_filter=["ok"]) %}
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4><i class="icon fa fa-check"></i> 操作成功!</h4>
                            {{ msg }}
                        </div>
                        {% endfor %}
                        {% for msg in get_flashed_messages(category_filter=["err"]) %}
                        <div class="alert alert-success alert-dismissible">
                            <div class="alert alert-danger alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h4><i class="icon fa fa-ban"></i> 操作失败!</h4>
                                {{ msg }}
                            </div>
                        </div>
                        {% endfor %}
                        <div class="form-group">
                            <label for="input_contact">{{ form.username.label }}</label>
                            {{ form.username }}
                        </div>
                        <div class="col-md-12" id="error_contact"></div>
                        <div class="form-group">
                            <label for="input_password">{{ form.password.label }}</label>
                            {{ form.password }}
                        </div>
                        <div class="col-md-12" id="error_password"></div>
                        {{ form.csrf_token}}
                        {{ form.login }}
                        <div style="margin-top:10px;">
                        其他方式登录：
                            <a href="https://graph.qq.com/oauth2.0/authorize?response_type=code&client_id=101860781&redirect_uri=https://yujl.top/mycb&state=1">
                            <img src="{{ url_for('static',filename = 'base/images/Connect_logo_7.png')}}"></a>

                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
