{% extends "home/home.html" %}

{% block content %}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-plus"></span>&nbsp;会员注册</h3>
            </div>
            <div class="panel-body">
                <form role="form" method="post">
                    <fieldset>
                        {% for msg in get_flashed_messages(category_filter=["ok"]) %}
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4><i class="icon fa fa-check"></i> 操作成功!</h4>
                            {{ msg }}
                        </div>
                        {% endfor %}
                        {% for msg in get_flashed_messages(category_filter=["err"]) %}
                        <div class="alert alert-success alert-dismissible">
                            <div class="alert alert-danger alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h4><i class="icon fa fa-ban"></i> 操作失败!</h4>
                                {{ msg }}
                            </div>
                        </div>
                        {% endfor %}
                        <div class="form-group">
                            <label for="input_name">{{ form.nickname.label }}</label>
                            {{ form.nickname }}
                            {% for err in form.nickname.errors %}
                            <div class="col-md-12">
                                <font style="color:red">{{ err }}</font>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="col-md-12" id="error_name"></div>
                        <div class="form-group">
                            <label for="input_email">{{ form.email.label }}</label>
                            {{ form.email }}
                            {% for err in form.email.errors %}
                            <div class="col-md-12">
                                <font style="color:red">{{ err }}</font>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="col-md-12" id="error_email"></div>
                        <div class="form-group">
                            <label for="input_phone">{{ form.phone.label }}</label>
                            {{ form.phone }}
                            {% for err in form.phone.errors %}
                            <div class="col-md-12">
                                <font style="color:red">{{ err }}</font>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="col-md-12" id="error_phone"></div>
                        <div class="form-group">
                            <label for="input_password">{{ form.password.label }}</label>
                            {{ form.password }}
                            {% for err in form.password.errors %}
                            <div class="col-md-12">
                                <font style="color:red">{{ err }}</font>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="col-md-12" id="error_password"></div>
                        <div class="form-group">
                            <label for="input_repassword">{{ form.repassword.label }}</label>
                            {{ form.repassword }}
                            {% for err in form.repassword.errors %}
                            <div class="col-md-12">
                                <font style="color:red">{{ err }}</font>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="col-md-12" id="error_repassword"></div>
                        {{ form.csrf_token}}
                        {{ form.register }}
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}